<phpunit colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         verbose="true">
    <php>
        <ini name="max_execution_time" value="5000"/>
    </php>
</phpunit>
